{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}

<div class=" flex flex-row justify-between items-center p-8">
    <div class=" flex flex-col justify-center items-center p-8">
        <h1 class="text-3xl">BetBunk</h1>
        <h2 class="text-2xl">Pariez sur nos Quizz !</h2>
    </div>

    <div class="w-64 h-36 bg-slate-100 dark:bg-dark-300 flex flex-col justify-center items-center p-8 rounded-lg">
        <h2 class="font-bold">Quizz</h2>
        <p>XX quizz sur note site</p>
    </div>
</div>

<div class="p-8">
    <div>
        <h2 class="font-bold">Notre meilleur Quizz</h2>
    </div>
    <a href="#" class="cardQuizz">
        <div>
            <img src="https://placebear.com/200/200"/>
        </div>
        <div>
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas mattis.</p>
        </div>
    </a>
</div>

<div class="p-8">
    <div>
        <h2 class="font-bold">Quelques Quizz</h2>
    </div>
    <a href="#" class="cardQuizz">
        <div>
            <img src="https://placebear.com/200/200"/>
        </div>
        <div>
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas mattis.</p>
        </div>
    </a>
    <a href="#" class="cardQuizz">
        <div>
            <img src="https://placebear.com/200/200"/>
        </div>
        <div>
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas mattis.</p>
        </div>
    </a>
    <a href="#" class="cardQuizz">
        <div>
            <img src="https://placebear.com/200/200"/>
        </div>
        <div>
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas mattis.</p>
        </div>
    </a>
</div>

{% endblock %}
