@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white  text-black dark:bg-dark-600 dark:text-white
        transition-all ease-in duration-200;
        position: relative;
        min-height: 100vh;
    }

    @media (min-width: 1536px) {
        .container{
            max-width: 1330px !important;
        }
    }

}

@layer components {
  .btn {
    @apply px-4 py-2 rounded duration-300;
  }

  .btn-primary{
    @apply bg-yellow-400 hover:bg-yellow-500 text-white;
  }

  .btn-secondary{
    @apply bg-byzantine-400 hover:bg-byzantine-500 text-white;
  }

  .btn

  /** Form classes **/
  .form-row {
    @apply mb-2 flex gap-4;
  }

  .form-label {
    @apply font-semibold w-1/4;
  }

  .form-field {
    @apply rounded-md border-2 mt-1 mb-5 border-transparent flex-grow bg-gray-100 w-full block
        focus:border-gray-500 focus:bg-white focus:ring-0
        dark:text-white dark:bg-dark-200;
  }

  .form-checkbox {
    @apply rounded mx-3 bg-gray-200 dark:bg-dark-200 border-transparent text-yellow-400
        focus:border-transparent focus:bg-gray-200 focus:ring-1 focus:ring-offset-2 focus:ring-gray-500;
  }
}

@layer custom {
  .cardQuizz {
    @apply flex flex-row justify-around items-center m-3 bg-slate-100 dark:bg-dark-300 rounded-lg w-fit gap-3.5 max-h-40 pr-8;
  }
  .cardQuizz img {
    @apply rounded-l-lg w-24 h-24 object-cover max-h-32;
  }
  .cardQuizz h3 {
    @apply text-lg font-bold;
  }
  .cardQuizz p {
    @apply text-base;
  }
  .error {
    @apply my-4;
    color: red;
  }
  .profil {
    @apply bg-slate-300 dark:bg-dark-300 rounded-lg flex flex-col p-8 justify-center items-center text-center;
  }
  .profil-picture {
    @apply rounded-full w-32 h-32 object-cover;
  }
  .required_xp{
      width: 100%;
      position: relative;
      border-radius: 5px;
      z-index: 2;
      border: 1px solid black !important;
      --xp: 39%;
  }
  .required_xp::after{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #f6db6a;
    width: var(--xp);
    z-index: -1;
    border-radius: 5px;
  }
}
