{% extends 'base.html.twig' %}

{% block title %}Hello QuizFormController!{% endblock %}

{% block body %}

    <a href="" class="btn btn-primary">Crée un quiz</a>

    <div class="mt-5">
        {# loop for quizz, (random, most popular, newest) #}
        quizz placeholder
    </div>

{% endblock %}
