{% extends 'base.html.twig' %}

{% block title %}Hello QuizFormController!{% endblock %}

{% block body %}

    <a href="/quiz/create/?type=text" class="btn btn-primary">Texte</a>
    <a href="/quiz/create/?type=category" class="btn btn-primary">Catégorie</a>

{% endblock %}
