<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="flex flex-row justify-between p-4 px-8 bg-slate-50 dark:bg-dark-800 items-center shadow-md ">
            <a href="/">
                <img class="w-20 max-h-20" src="/img/logo.png" />
            </a>
            <nav class="flex">
                <div id="dark-toggle" class="mx-5 cursor-pointer">
                    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>wb_sunny</title><g fill="none" class="nc-icon-wrapper"><path class="fill-black dark:fill-white" d="M6.76 4.84l-1.8-1.79-1.41 1.41 1.79 1.79 1.42-1.41zM4 10.5H1v2h3v-2zm9-9.95h-2V3.5h2V.55zm7.45 3.91l-1.41-1.41-1.79 1.79 1.41 1.41 1.79-1.79zm-3.21 13.7l1.79 1.8 1.41-1.41-1.8-1.79-1.4 1.4zM20 10.5v2h3v-2h-3zm-8-5c-3.31 0-6 2.69-6 6s2.69 6 6 6 6-2.69 6-6-2.69-6-6-6zm-1 16.95h2V19.5h-2v2.95zm-7.45-3.91l1.41 1.41 1.79-1.8-1.41-1.41-1.79 1.8z" fill="#212121"></path></g></svg>
                </div>
                <div class="space-x-4">
                    <a href="/">Test 1</a>
                    <a href="/">Test 2</a>
                    <a href="/">Test 3</a>
                </div>
            </nav>
        </header>
        {% block body %}{% endblock %}

        <footer class="flex flex-row justify-evenly p-4 px-8 items-center bg-slate-50 drop-shadow absolute inset-x-0 bottom-0 border-t-2">
            <div class="flex flex-col">
                <a href="/">Copyright</a>
                <a href="/">Test</a>
            </div>
            <div class="flex flex-col">
                <a href="/">Contact</a>
                <a href="/">Contact - Test</a>
            </div>
            <div>
                <a href="/">
                    <img class="w-20 max-h-20" src="/img/logo.png" />
                </a>
            </div>
            
        </footer>
    </body>
</html>
